<!DOCTYPE html>
<html ng-app="phonecatApp">
<head>
    <meta charset='utf8'>
    <title>AngularJS Demo</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <legend>Load AngularJS</legend>
    </div>
    <div class="row">
        <p>{{ 3 + 5 }}</p>
    </div>
    <div class="row">
        <legend>双向数据绑定</legend>
    </div>
    <div class="row">
        <div class="form-inline">
            Your Name <input type="text" class="form-control" ng-model="yourname" placeholder="Oh man" />
        </div>
        Hello {{ yourname || "World" }}
    </div>
    <div class="row">
        <legend>AngularJS 模板</legend>
    </div>
    <div class="row" ng-controller="PhoneListCtrl">
        <ul class="list-group col-md-12">
            <li class="list-group-item" ng-repeat="phone in phones">
                <h4>{{phone.name}}</h4>
                <p>{{phone.snippet}}</p>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="alert alert-warning">
            <p>
            定义 ng-controller 时，需给给 np-app 赋值，并在 JS 代码中新建 module <code>angular.module('phonecatApp', [])</code>
            然后指定一个 controller <code>phonecatApp.controller("PhoneListCtrl", function($scope) {});</code>
            </p>
        </div>
    </div>
    <div class="row">
        <legend><a href="https://docs.angularjs.org/tutorial/step_04">Filtering|Ordering Repeaters</a></legend>
    </div>
    <div class="row" ng-controller="PhoneListCtrl">
        <div class="form-inline">
            Filter: <input type="text" class="form-control" ng-model="query">
            OrderBy: <select class="form-control" ng-model="orderProp">
                <option value="name">name</option>
                <option value="snippet">snippet</option>
            </select>
        </div>
        <ul class="list-group col-md-12">
            <li class="list-group-item" ng-repeat="phone in phones | filter:query | orderBy:orderProp">
                <h4>{{phone.name}}</h4>
                <p>{{phone.snippet}}</p>
            </li>
        </ul>
    </div>
    <div class="row">
        <legend><a href="https://docs.angularjs.org/tutorial/step_05">XHRs & Dependency injection</a></legend>
    </div>
    <div class="row" ng-controller="XHRPhoneListCtrl">
        <ul class="list-group col-md-12">
            <li class="list-group-item" ng-repeat="phone in phones | orderBy:orderProp">
                <h4>{{phone.name}}</h4>
                <p>{{phone.snippet}}</p>
            </li>
        </ul>
    </div>
    <div class="row">
        <legend>Templating Links & Images</legend>
    </div>
    <div class="row">
        <legend><a href="https://docs.angularjs.org/tutorial/step_07">Routing & Multiple Views</a></legend>
    </div>
    <div class="row">
        <a href="/views/multi_views.html" target="blank">View in another tab</a>
    </div>
    <div class="row">
        <legend>More Templating</legend>
    </div>
    <div class="row">
        <p>Don't know how to implement this feature in single app</p>
    </div>
    <div class="row">
        <legend>Filters & Event Handlers</legend>
    </div>
    <div class="row" ng-controller="XHRPhoneListCtrl">
        <ul class="list-group col-md-12">
            <li class="list-group-item" ng-repeat="phone in phones">
                <h4 class="{{phone.style}}" ng-mouseenter="mouseEnter(phone.id)" ng-mouseleave="mouseLeave(phone.id)">{{phone.name}} <small>{{phone.name | filter_brand}}</small></h4>
                <p>{{phone.snippet}}</p>
            </li>
        </ul>
    </div>
    <div class="row">
        <pre class="col-md-12">
var phonecatApp = angular.module('phonecatApp', ["phonecatBrandFilters"]);
angular.module("phonecatBrandFilters", []).filter("filter_brand", function() {
    return function(input) {
        if (input.indexOf("iPhone") > -1) {
            return "Apple";
        }
        if (input.indexOf("MeiZu") > -1) {
            return "MeiZu";
        }
        if (input.indexOf("FirePhone") > -1) {
            return "Amazon";
        }
    }
})
        </pre>
    </div>
    <div class="row">
        <legend>REST and Custom Services</legend>
    </div>
    <div class="row">
    </div>
</div>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.3.0/bootbox.min.js"></script>
<script type="text/javascript">
var phonecatApp = angular.module('phonecatApp', ["phonecatBrandFilters"]);

phonecatApp.controller("PhoneListCtrl", function($scope) {
    $scope.phones = [{
        'name': 'iPhone 5S',
        'snippet': 'you\'re more powerful than you think',
    }, {
        'name': 'Meizu MX3',
        'snippet': 'powerful',
    }];
});
phonecatApp.controller("XHRPhoneListCtrl", ["$scope", "$http", function($scope, $http) {
    $http.get('phones.json').success(function(data) {
        $scope.phones = data;
    })
    $scope.orderProp = "name";

    $scope.mouseEnter = function(phoneId) {
        $scope.phones[phoneId - 1].style = "label-success";
    }
    $scope.mouseLeave = function(phoneId) {
        $scope.phones[phoneId - 1].style = "";
    }
}]);

/*
** 在 angular.module 中定义 phonecatBrandFilters 后
** 需要在初始化 app 时添加到参数列表
*/
angular.module("phonecatBrandFilters", []).filter("filter_brand", function() {
    return function(input) {
        if (input.indexOf("iPhone") > -1) {
            return "Apple";
        }
        if (input.indexOf("MeiZu") > -1) {
            return "MeiZu";
        }
        if (input.indexOf("FirePhone") > -1) {
            return "Amazon";
        }
    }
})
</script>
</body>
</html>